<ion-view view-title="Foodbookpro">
  <ion-content class="myContent">
    <div class="row">
      <div class="col"><img src="../img/food-drink-17.jpg" class="full-image" alt="Food Book Pro"/></div>
    </div>
    <div class="row">
      <div class="col">
        <a class="button button-full button-outline button-stable" ui-sref="reclist">
          <p class="">View Recipes</p>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a class="button button-full button-outline button-stable" ui-sref="edit">
          <p class="">Edit Recipes</p>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a class="button button-full button-outline button-stable" ui-sref="add">
          <p class="">Add Recipes</p>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a class="button button-full button-outline button-stable" ui-sref="del">
          <p class="">Delete Recipes</p>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>

